/* Big font styles */

body.keats-fontBig {
    font-size:110%;
}

body.keats-fontBig p {
    line-height:25px;
}

@media (max-width:979px) {
    body.keats-fontBig .navbar .nav.pull-right .nav > li.messages,
    body.keats-fontBig .navbar .nav.pull-right .nav > li:first-of-type {
        left:140px;
    }
}
